.lsu-pad {
    background-color: inherit;
    border: 1px solid #666;
    border-radius: 10%;
    height: 3rem;
    width: 3rem;
}

.lsu-pad-blank {
    border: none;
}

.lsu-pad-control {
    border-radius: 50%;
}

.lsu-grid {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    margin: 2.5rem;
}

.lsu-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    .lsu-pad--isFocused,
    .lsu-pad:focus {
        /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
        box-shadow: 0 0 0 2px white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }

    .lsu-pad--isFocused,
    .lsu-pad:focus {
        /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
        box-shadow: 0 0 0 2px black;
    }
}
